html {
  /* scrolling functionality snaps */
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: white;
}
.app__top {
  margin-bottom: -150px;
}

.app__top > h1 {
  text-align: center;
  color: white;
}

.app__logo{
  height: 12vh;
}
.app__videos{
  position: relative;
  height: 65vh;
  background-color: white;
  width: 50%;
  border-radius: 20px;
  max-width: 350px;
  max-height: 2000px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
/* hide scrollbar */
.app__videos::-webkit-scrollbar {
  display: none;
}
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
